<h1 id="first-list-header">First List</h1>
<ol id='first-list'>
    <input id="first-list-first-item-edit" name="items[]" type="text" value="{{editedItem}}"></input>
	<button id="first-list-first-item-save" hx-post="/first-list/first-item/save" hx-trigger="click" hx-target="#first-list-container" hx-include="input">Save</button>

{% for item in displayedItems %}
	<li hx-post="/first-list/first-item/edit" hx-trigger="click" hx-target="#first-list-container" hx-include="input">{{item}}</li>
    <input id="first-list-first-item-edit" name="items[]" type="hidden" value="{{item}}"></input>
{% endfor %}
</ol>
